<div class="container-fluid">
    <button class="btn btn-light back" (click)="service.gotoMenu()" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

<div class="card">
        <div class="card-header">
        <div class="row"  >
            <div class="col-3" style="text-align: right;">
                <label for="usr">Search</label>
            </div>
            <div class="col-7">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ticket #" [(ngModel)]="key">
                    <div class="input-group-append">
                      <button (click)="search()" class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true" ></i></button>
                      <button (click)="cls()" class="btn btn-danger" type="button"><i class="fa fa-times" aria-hidden="true" ></i></button>
                    </div>
                  </div>
            </div>
        </div>
            <div class="row"  >
                <div class="col-2" style="text-align: right;">
                    <label for="usr">Customer Name</label>
                </div>
                <div  class="col-4">
                    <input type="text" disabled class="form-control" [(ngModel)]="object.customer.name">
                </div>
                <div class="col-2" style="text-align: right;">
                    <label for="usr">Ticket #</label>
                </div>
                <div  class="col-4">
                    <input type="text" disabled  class="form-control" disabled [(ngModel)]="object.ticket.ticket">
                </div>
              </div>
              <div class="row"  >
                <div class="col-2" style="text-align: right;">
                    <label for="usr">Contact No</label>
                </div>
                <div  class="col-4">
                    <input type="text" disabled  class="form-control" [(ngModel)]="object.customer.contact">
                </div>
                <div class="col-2" style="text-align: right;">
                    <label for="usr">Invoice #</label>
                </div>
                <div  class="col-4">
                    <input type="text" class="form-control" disabled [(ngModel)]="object.ticket.ticket">
                </div>

              </div>
              <div class="row"  >
                <div class="col-2" style="text-align: right;">
                    <label for="usr">Alt.Contact No</label>
                </div>
                <div  class="col-4">
                    <input type="text" class="form-control" [(ngModel)]="object.customer.altcontact">
                </div>
                <div class="col-2" style="text-align: right;">
                    <label for="usr">Date</label>
                </div>
                <div  class="col-4">
                    <input type="datetime-local" class="form-control" [(ngModel)]="object.invoice.date">
                </div>
              </div>
        </div>
        <div class="card-body">
            <div class="input-group">
                <div class="row label-row" style="width:99%; margin-left:10px;">
                    <label class="col-4">Description</label>
                    <label class="col-1">Qty</label>
                    <label class="col-2">Unit Price</label>
                    <label class="col-2">Discount</label>
                    <label class="col-2">Total</label>
                </div>
                <div class="row" style="width:99%; margin-left:10px;">
                    <input type="text" class="form-control col-4" (focusout)="calculate()" [(ngModel)]="description" placeholder="Description">
                    <input type="text" class="form-control col-1" (focusout)="calculate()" [(ngModel)]="qty" placeholder="Qty">
                    <input type="text" class="form-control col-2" (focusout)="calculate()" [(ngModel)]="unitprice" placeholder="Unit Price">
                    <input type="text" class="form-control col-2" (focusout)="calculate()" [(ngModel)]="discount" placeholder="Discount">
                    <input type="text" class="form-control col-2" [(ngModel)]="total" disabled placeholder="Total">
                    <button class="btn btn-success col-1" [attr.disabled]="description.length==0?'disabled':null" type="button" (click)="add()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
              </div>
              <div class="row"  >
                <app-grid 
                    [header]="tableHdr"
                    [invoiceData]="obj">
                </app-grid>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
            <div class="col-5">
                <button type="button" (click)="save()" class="btn btn-success add-new"><i class="fa fa-plus" style="font-size: 46px;" aria-hidden="true"></i></button>
            </div>
            <div class="col-7">
            <div class="row">
                <div class="col-5" style="text-align: right;">
                    <label for="usr">Sub Total</label>
                </div>
                <div  class="col-7">
                    <input type="text" class="form-control" disabled [(ngModel)]="object.invoice.sub_total" >
                </div>
            </div>
            <div class="row">
                <div class="col-5" style="text-align: right;">
                    <label for="usr">Total Rate (%)</label>
                </div>
                <div  class="col-7">
                    <input type="text" class="form-control" disabled [(ngModel)]="object.invoice.total_rate">
                </div>
            </div>
            <div class="row">
                <div class="col-5" style="text-align: right;">
                    <label for="usr">Sales Tax</label>
                </div>
                <div  class="col-7">
                    <input type="text" class="form-control" disabled [(ngModel)]="object.invoice.sales_tax">
                </div>
            </div>
            <div class="row">
                <div class="col-5" style="text-align: right;">
                    <label for="usr" >Others</label>
                </div>
                <div  class="col-7">
                    <input type="text" (focusout)="calcTot()" class="form-control"  [(ngModel)]="object.invoice.others">
                </div>
            </div>
            <div class="row">
                <div class="col-5" style="text-align: right;">
                    <label for="usr">Total</label>
                </div>
                <div  class="col-7">
                    <input type="text" class="form-control" disabled [(ngModel)]="object.invoice.total">
                </div>
            </div>
        </div>
    </div>  
</div>
</div>    
</div>