<div class="container">
    <div class="card col-7">
      <div class="card-header">Login</div>
      <div class="card-body">
        <div class="row"  >
            <div  class="col-12">
                <input type="text" class="form-control" placeholder="User Name">
            </div>
          </div>
          <div class="row"  >
            <div  class="col-12">
                <input type="text" class="form-control" placeholder="Password" >
            </div>
          </div>
          <div>
        <div class="row">
            <div class="col-2"></div>
            <button type="button" class="btn btn-primary col-3"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
            <div class="col-2"></div>
            <button type="button" class="btn btn-info col-3" ><i class="fa fa-eraser" aria-hidden="true"></i></button>
        </div>
      </div> 
      <div class="card-footer">
          <a href="http://msrinfotechind.com/">MSR Info Tech</a>
      </div>
    </div>
  </div>