.card-footer{
    text-align: right;
}
.row{
    padding-bottom: 25px;
    margin-left: 4%;
    margin-right: 4%;
}
.card{
    left:20%;
    margin-top:12%;
}
input{
    text-align: center;
    height: 50px;
    font-size: 29px;
}

i{
    font-size: 35px;
}