<div class="container-fluid">
    <div class="card">
      <div class="card-header"><h6>Quote / Estimation</h6></div>
      <app-disable-component [isDisabled]="isDisabled"></app-disable-component> 
      <div class="card-body">
        <div class="row"  >
            <div class="col" style="text-align: right;">
                <label for="usr">Estimation Quote</label>
            </div>
            <div  class="col">
                <input type="text" class="form-control" [(ngModel)]="object.estimation_quote">
            </div>
            <div class="col" style="text-align: right;">
                <label for="usr">Service Charge</label>
            </div>
            <div  class="col">
                <input type="text" class="form-control" [(ngModel)]="object.service_charge">
            </div>

            <div class="col" style="text-align: right;">
                <label for="usr">Advance Amount</label>
            </div>
            <div  class="col">
                <input type="text" class="form-control" [(ngModel)]="object.advance_amount">
            </div>
          </div>
    </div>
</div>