<div class="container-fluid" style="    margin-left: 0%;padding:0px">
<app-toast  ></app-toast>
<app-loading [hidden]="!service.isSpinner"></app-loading>

<div class="row" *ngIf="isEnabled">
    <app-customer [isDisabled]="isDisabled" (toggleCustomer)="toggleCustomer()" [object]="object.customer" class="col" style="padding-right:0px"></app-customer>
    <app-ticket  [service_list]="serviceType" [isDisabled]="isDisabled" class="col" style="padding-left:0px" [object]="object.ticket"></app-ticket>
</div>
<div class="row" *ngIf="isEnabled">
    <app-product [product_list]="product" [product_make_list]="productMake" [isDisabled]="isDisabled" class="col" [hidden]="!isProduct" style="padding-right:0px" [object]="object.product"></app-product>
    <app-engineer [parts]="parts" [status]="status" [isDisabled]="isDisabled"  class="col" style="padding-right:0px" [object]="object.engineer" [hidden]="isProduct"></app-engineer>
    <app-issue  [cpu]="cpu" [hdd]="hdd" [ram]="ram" [issues]="issue" [isDisabled]="isDisabled" class="col" style="padding-left:0px" [object]="object.issue"></app-issue>
</div>
<div *ngIf="isEnabled">
    <app-estimation [isDisabled]="isDisabled" [object]="object.estimation"></app-estimation> 
</div>
<div class="card-footer" *ngIf="isEnabled">
    <div class="row"  >
        <div  class="col"><button type="button" (click)="save()" class="btn btn-success" style="width:100%"><i class="fa fa-floppy-o " aria-hidden="true"></i></button></div>
        <div  class="col"><button type="button" (click)="edit()" class="btn btn-primary" style="width:100%"[attr.disabled]="isDisabled?'disabled':null"><i class="fa fa-pencil " aria-hidden="true"></i></button></div>
        <div  class="col"><button type="button" (click)="engineer()" class="btn btn-info" style="width:100%" [attr.disabled]="isDisabled?'disabled':null"><i class="fa fa-wrench " aria-hidden="true"></i></button></div>
        <div  class="col"><button type="button" (click)="jobsheet()" [attr.disabled]="isDisabled?'disabled':null" class="btn btn-warning" style="width:100%"><i class="fa fa-print " aria-hidden="true"></i></button></div>
        
        <div  class="col"><button type="button" (click)="invoice()" class="btn btn-info"  style="width:100%"><i class="fa fa-newspaper-o " aria-hidden="true"></i></button></div>
        <div  class="col" *ngIf="isAdmin" ><button type="button" (click)="admin()" class="btn btn-info" style="width:100%"><i class="fa fa-user-secret " aria-hidden="true"></i></button></div>
        <div  class="col"><button type="button" (click)="clear()" class="btn btn-secondary" style="width:100%"><i class="fa fa-undo " aria-hidden="true"></i></button></div>
    </div>
</div>
<app-confirm-button [header]="header" [body]="body" [buttons]="buttons" 
(onSelection)="service.gotoJobSheet($event)"
style="
    position: fixed;
    z-index: 99999;
" 
></app-confirm-button>
</div> 