.row{
    margin-bottom:0px;
}
.table td, .table th {
    width:50%;
}
.pad *{
    padding-bottom: 7px;
}
.img{
    width: 286px;
    height: 96px;
    float: right;
}
.container-fluid{
    
}

@media print {
    body * {
      visibility: hidden;
    }
    .container-fluid{
        visibility: visible;
    }
}