.container-fluid{
    padding-right: 7px;
}
.search-button{
    float:right;
    padding:5px;
}
.hdr-button {
    border-radius: 30px;
    float: right;
    margin:2px;
    margin-left: 8px;

}
.hdr-button i{
    font-size: 3vh;
}
.card-header{
    padding:0px;
}
.title{
    float:left;
    padding:10px;
}