<div class="container-fluid">
    <div class="card">
      <div class="card-header" ><h6 class="title">Customer</h6>
        <!-- <button type="button" (click)="toggleWindow()" class="btn btn-light hdr-button" ><i class="fa fa-expand text-warning" aria-hidden="true"></i></button> -->
        <!-- <button type="button" (click)="save()" class="btn btn-light hdr-button" ><i class="fa fa-floppy-o text-success" aria-hidden="true"></i></button> -->
        <div class="input-group col-4 search-button">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="key" style="height: 40px;">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit" (click)="search()" ><i class="fa fa-search " aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <app-disable-component [isDisabled]="isDisabled"></app-disable-component>   
      <div class="card-body" >
        <div class="row"  *ngIf="object">
            <div class="col-4" style="text-align: right;">
                <label for="usr">Customer Name</label>
            </div>
            <div  class="col-8">
                <input type="text" class="form-control" [(ngModel)]="object.name">
            </div>
          </div>
          <div class="row"  >
            <div class="col-4" style="text-align: right;">
                <label for="usr">Contact No</label>
            </div>
            <div  class="col-8">
                <input type="text" class="form-control" [(ngModel)]="object.contact">
            </div>
          </div>
          <div class="row"  >
            <div class="col-4" style="text-align: right;">
                <label for="usr">Alt.Contact No</label>
            </div>
            <div  class="col-8">
                <input type="text" class="form-control" [(ngModel)]="object.altcontact">
            </div>
          </div>
          <div class="row"  >
            <div class="col-4" style="text-align: right;">
                <label for="usr">Email</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="object.mail">
            </div>
          </div>
        </div> 
    </div>
  </div>
  <router-outlet></router-outlet>