<app-toast  ></app-toast>
<div class="container-fluid">
    <button class="btn btn-light back" (click)="service.gotoMenu()" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <div class="card">
      <div class="card-header" ><h3 class="title">.</h3>        
            <div class="input-group col-12 mt-5 search-button">
                <input type="text" class="form-control" [(ngModel)]="key" placeholder="Search" style="height: 7vh;text-align: center;font-size: 5.5vh;">
                <div class="input-group-append">
                <button class="btn btn-success" style="font-size: 3vh;width: 10vh;" type="submit" (click)="search()"><i class="fa fa-search " aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body" >
            <div class="row"  >
                <app-grid (selectedRecord)="setCurrentCustomer()" 
                    [tableData]="tableData">
                </app-grid>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>